<div class="top-bar">
<div class="wrap">
		<div class="top-bar-left">
			<a class="menu-logo"><%= image_tag 'wiley-logo.png', class: "logo" %></a>
		</div>
		<div class="top-bar-right">
			<ul class="menu">
				<li><a href="#">About</a></li>
				<li><a href="#">Listings</a></li>
				<li><a href="#">Government Services</a></li>
				<li><a href="#">Affordable Housing</a></li>
				<li><a href="#">Careers</a></li>
				<li><a href="#">Contact</a></li>
				<li>
				<% if user_signed_in? %>
				<button class="dropdown button" type="button" data-toggle="drop1">Welcome User</button>
				<div class="dropdown-pane" id="drop1" data-dropdown data-auto-focus="true">
					<ul>
						<li><%= link_to('Edit registration', edit_user_registration_path) %></li>
						<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
					</ul>
				</div>
				<% else %>
				<button class="dropdown button" type="button" data-toggle="drop1">Join</button>
				<div class="dropdown-pane" id="drop1" data-dropdown data-auto-focus="true">
					<ul>
						<li><%= link_to('Register', new_user_registration_path)  %></li>
						<li><%= link_to('Login', new_user_session_path)  %></li>
					</ul>
				</div>
				<% end %>
				</li>
			</ul>
		</div>
</div>
</div>
