<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

      <% unless flash.empty? %>
        <script type="text/javascript">
          <% flash.each do |f| %>
            <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
             toastr['<%= type %>']('<%= f[1] %>');
          <% end %>
        </script>
      <% end %>

      <%= render "layouts/header" %>
      <%= yield %>

  </body>
</html>
